scripts/n8n_top_card_prices.json
{
  "name": "【日次】TOP5カード価格更新 → Supabase",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 12 }]
        }
      },
      "name": "Schedule (12時間毎)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "id": "trigger"
    },
    {
      "parameters": {
        "url": "https://xuvguqjlijjuhazrhnfc.supabase.co/rest/v1/box_top_cards?snkrdunk_id=not.is.null&select=id,box_id,rank,card_name,snkrdunk_id,sales_chart_option_id",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"apikey\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1dmd1cWpsaWpqdWhhenJobmZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0MDYzNTMsImV4cCI6MjA4Njk4MjM1M30.Yslfq0jzBhYYn9OuSjzFIfE-iihXFNlV65_shTsUe_E\",\n  \"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1dmd1cWpsaWpqdWhhenJobmZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0MDYzNTMsImV4cCI6MjA4Njk4MjM1M30.Yslfq0jzBhYYn9OuSjzFIfE-iihXFNlV65_shTsUe_E\"\n}",
        "options": {}
      },
      "name": "1. snkrdunk_idあるカード取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300],
      "id": "get-cards"
    },
    {
      "parameters": {
        "options": { "batchSize": 1 }
      },
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [620, 300],
      "id": "loop"
    },
    {
      "parameters": {
        "url": "=https://snkrdunk.com/v1/apparels/{{ $json.snkrdunk_id }}/sales-chart?range=all{{ $json.sales_chart_option_id ? '&salesChartOptionId=' + $json.sales_chart_option_id : '' }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"referer\": \"https://snkrdunk.com/trading-cards/{{ $json.snkrdunk_id }}\",\n  \"origin\": \"https://snkrdunk.com\",\n  \"user-agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36\"\n}",
        "options": {
          "timeout": 15000,
          "response": { "response": { "neverError": true } }
        }
      },
      "name": "2. スニダン価格取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 300],
      "id": "snkrdunk-fetch"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst card = $('Loop').first().json;\n\n// sales-chartレスポンスから最新価格を取得\nconst points = data.points;\nif (!points || points.length === 0) {\n  return [{ json: { id: card.id, card_name: card.card_name, price: null, status: 'no_data' } }];\n}\n\n// optionIdが未取得の場合、取得して保存\nlet optionId = card.sales_chart_option_id;\nif (!optionId && data.salesChartOption && data.salesChartOption.length > 0) {\n  const oneCard = data.salesChartOption.find(o => o.localizedName === '1個') || data.salesChartOption[0];\n  optionId = oneCard ? oneCard.id : null;\n}\n\n// 最新のポイント（末尾）= 最新価格\nconst latest = points[points.length - 1];\nconst price = Math.round(latest[1]);\n\nreturn [{ json: {\n  id: card.id,\n  card_name: card.card_name,\n  price: price,\n  optionId: optionId,\n  status: 'ok'\n} }];"
      },
      "name": "3. 価格抽出",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300],
      "id": "extract-price"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-price",
              "leftValue": "={{ $json.price }}",
              "rightValue": "",
              "operator": { "type": "number", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "4. 価格あり？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1260, 300],
      "id": "if-price"
    },
    {
      "parameters": {
        "url": "=https://xuvguqjlijjuhazrhnfc.supabase.co/rest/v1/box_top_cards?id=eq.{{ $json.id }}",
        "method": "PATCH",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"apikey\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1dmd1cWpsaWpqdWhhenJobmZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0MDYzNTMsImV4cCI6MjA4Njk4MjM1M30.Yslfq0jzBhYYn9OuSjzFIfE-iihXFNlV65_shTsUe_E\",\n  \"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1dmd1cWpsaWpqdWhhenJobmZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0MDYzNTMsImV4cCI6MjA4Njk4MjM1M30.Yslfq0jzBhYYn9OuSjzFIfE-iihXFNlV65_shTsUe_E\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"card_price\": {{ $json.price }},\n  \"sales_chart_option_id\": {{ $json.optionId ? '\"' + $json.optionId + '\"' : 'null' }},\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "name": "5. Supabase PATCH",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1480, 200],
      "id": "update-price"
    },
    {
      "parameters": { "amount": 3 },
      "name": "Wait 3秒",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1680, 300],
      "id": "wait",
      "webhookId": "top-card-wait"
    }
  ],
  "connections": {
    "Schedule (12時間毎)": { "main": [[{ "node": "1. snkrdunk_idあるカード取得", "type": "main", "index": 0 }]] },
    "1. snkrdunk_idあるカード取得": { "main": [[{ "node": "Loop", "type": "main", "index": 0 }]] },
    "Loop": { "main": [[], [{ "node": "2. スニダン価格取得", "type": "main", "index": 0 }]] },
    "2. スニダン価格取得": { "main": [[{ "node": "3. 価格抽出", "type": "main", "index": 0 }]] },
    "3. 価格抽出": { "main": [[{ "node": "4. 価格あり？", "type": "main", "index": 0 }]] },
    "4. 価格あり？": { "main": [[{ "node": "5. Supabase PATCH", "type": "main", "index": 0 }], [{ "node": "Wait 3秒", "type": "main", "index": 0 }]] },
    "5. Supabase PATCH": { "main": [[{ "node": "Wait 3秒", "type": "main", "index": 0 }]] },
    "Wait 3秒": { "main": [[{ "node": "Loop", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "box-souba-ai" },
  "tags": []
}
